/* global adding for the remove default browser spacing   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* add the body styling  this can be same in all the page */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f4f7fb;
  color: #2c3e50;
  padding: 20px;
}

/* add the header section style  */
header {
  text-align: center;
  margin-bottom: 25px;
}

header h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* controls css  */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  background: #ffffff;
  padding: 15px 20px;
  border-radius: 12px;

  /* width: fit-content; */
  margin: 0 auto 25px auto;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.controls input,
.controls select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
}

.controls input:focus,
.controls select:focus {
  border-color: #0077cc;
}

/*  analytics section*/
.analytics {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.analytics div {
  background: #ffffff;
  padding: 18px 30px;
  border-radius: 12px;
  text-align: center;
  min-width: 180px;

  font-weight: 500;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
